################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HiveSpace/.vs/HiveSpace
/HiveSpace/HiveSpace.Application/bin/Debug/net8.0
/HiveSpace/HiveSpace.Application/obj
/HiveSpace/HiveSpace.Common/bin/Debug/net8.0
/HiveSpace/HiveSpace.Common/obj
/HiveSpace/HiveSpace.Domain/bin/Debug/net8.0
/HiveSpace/HiveSpace.Domain/obj
/HiveSpace/HiveSpace.Infrastructure/bin/Debug/net8.0
/HiveSpace/HiveSpace.Infrastructure/obj
/HiveSpace/HiveSpace.TestDataLoader/obj
/HiveSpace/HiveSpace.TestDataLoader/bin/Debug/net8.0
/HiveSpace/.vs/ProjectEvaluation
/HiveSpace/HiveSpace.Application/bin/Release/net8.0
/HiveSpace/HiveSpace.Common/bin/Release/net8.0
/HiveSpace/HiveSpace.Infrastructure/bin/Release/net8.0
/HiveSpace/HiveSpace.Domain/bin/Release/net8.0
/HiveSpace/HiveSpace.Application/Properties/PublishProfiles
/HiveSpace/obj/Docker
/HiveSpace/HiveSpace.Application/.config
/HiveSpace/HiveSpace.TestDataLoader/bin/Release/net8.0
/.vs/hivespace.backend/config/applicationhost.config
/.vs
